<div class="col-md-12">
    <h4>comunication</h4>
    <div id='robot-read'>
    </div>
    <h4>send</h4>
    <div id='robot-write'>
    </div>
    <form data-module="serial">
        <div class="form-group">
            <input type="text" id="name" name="name">
            <button>Send</button>
        </div>
    </form>
</div>
