<div class="col-md-6">
    <img src="{{ url_for('camera.feed') }}" class="img-fluid" style="min-width: 100%">
</div>
<div class="col-md-6">
    {% with module="camera" %}
        {% include "controls.html.j2" %}
    {% endwith %}
</div>
